body {
	margin: 0 auto;
	padding-top: 70px;
	width: 600px;
	font-size: 20px;
}

.container {
	text-align: center;
}

table {
	width: 600px;
	height: 200px;
	text-align: center;
}

h1 {
	font-size: 50px;
}

input {
	text-align: center;
}

.btn {
	margin-top: 30px;
}

label {
	font-weight: bold;
	margin-top: 30px;
}