<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultaq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8"></meta>
<!-- Bootstrapの設定 -->
<link th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"
	rel="stylesheet"></link>
<script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
<link rel="stylesheet" href="/css/todoList.css" />
<title>TodoList</title>
</head>
<body>
	<div class="page-header">
		<div class="container">
			<h1>TodoList</h1>
		</div>
	</div>
	<div class="a-tag">
		<div class="container">
			<h2>
				<a th:href="@{'/'}">TODO追加</a>
			</h2>
		</div>
	</div>
	<div class="table-header">
		<div class="container">
			<h2>未完了リスト</h2>
		</div>
	</div>
	<div class="table-menu">
		<table class="table table-bordered table-hover table-striped">
			<tr>
				<th class="info col-sm-1">id</th>
				<th class="info col">タイトル</th>
				<th class="info col">期日</th>
				<th class="info col-sm-1"></th>
			</tr>
			<tr th:each="todo:${todoListFalse}">
				<td th:text="${todo.id}"></td>
				<td th:text="${todo.title}"></td>
				<td th:text="${todo.time_limit}"></td>
				<td>
					<a th:href="@{'//' + ${}}">詳細</a>
				</td>
			</tr>
		</table>
	</div>
	<div class="table-header">
		<div class="container">
			<h2>完了リスト</h2>
		</div>
	</div>
	<div class="table-menu">
		<table class="table table-bordered table-hover table-striped">
			<tr>
				<th class="info col-sm-1">id</th>
				<th class="info col">タイトル</th>
				<th class="info col">期日</th>
				<th class="info col-sm-1"></th>
			</tr>
			<tr th:each="todo:${todoListTrue}">
				<td th:text="${todo.id}"></td>
				<td class="title" th:text="${todo.title}"></td>
				<td th:text="${todo.time_limit}"></td>
				<td>
					<a th:href="@{'//' + ${}}">詳細</a>
				</td>
			</tr>
		</table>
	</div>
	<div class="button-wrapper">
		<div class="container">
			<form method="post" th:action="@{'/todoList'}" th:object="${user}">
				<button type="submit" class="btn btn-primary mb-12">完了済みを削除</button>
			</form>
		</div>
	</div>
</body>
</html>
